@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: "stranger-things";
    src: url("./fonts/Stranger_Things.woff") format("woff");
}

:root {
    --color-orange: #ec763e;
    --color-red: #d73222;
    --color-dark-red: #a42e4b;
    --color-light-blue: #3e3668;
    --color-dark-blue: #091946;
    --color-light: #e8eefc;
    --color-dark: hsl(224, 77%, 5%);
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --font-st: "stranger-things", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}


body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    background-color: var(--color-dark);
    min-height: 100dvh;
    color: var(--color-light);
}

main {
    width: 100%;
    min-height: 100dvh;
}

#styling-blob-1,
#styling-blob-2 {
    z-index: -1;
    width: 350px;
    height: 200px;
    position: absolute;
    filter:
        blur(200px) contrast(12);
}

#styling-blob-1 {
    top: 20%;
    left: 0;
    background: linear-gradient(to left top,
            var(--color-dark-red),
            var(--color-orange));
}

#styling-blob-2 {
    bottom: 20%;
    right: 0;
    background: linear-gradient(to right bottom,
            var(--color-dark-blue),
            hsl(224, 77%, 55%),
            var(--color-red));
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    img {
        width: 3rem;
        height: auto;
        filter: invert();
    }
}

.nav-items {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    width: 100%;
    font-size: 0.9rem;

    a:hover {
        color: var(--color-dark-red);
    }
}

.cart {
    svg {
        fill: var(--color-light);
        width: 1.5rem;
        height: auto;
    }
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        font-size: 2rem;

        .converse {
            color: var(--color-light);
        }

        .separator {
            font-weight: 100;
        }

        .stranger-things {
            text-align: center;
            padding-top: 1rem;
            line-height: 0.8;
            font-family: var(--font-st);
            color: var(--color-red);
        }
    }

    .hero-img-layers{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        height: 400px;
        margin-top: -5rem;
    }
    
    .hero-img-layer{
        position: absolute;
        height: 400px;
        width:600px;
        background:var(--color-dark-red);
        mask-image: url("./erasebg-transformed.webp") ;
        mask-size: cover;
        mask-position: center;
        mask-repeat: no-repeat;
        background-blend-mode: color-burn;
        transform: translate(0px, 0px);

    }
    .main-img{
        cursor: pointer;
        position: absolute;
        height: 400px;
        width: 600px;
        background-image: url("./erasebg-transformed.webp");
        background-size: cover;
        background-position: center;
        z-index: 99;
    }
    
    .hero-img-layer[data-layer="1"]{
        z-index: 3;
        filter: 
            hue-rotate(0deg) 
            saturate(1.5) 
            brightness(0.9)
            blur(0.5px);
        mix-blend-mode: screen;
        opacity: 0;
        transition: all 200ms ease-in-out;
    }
    
    .hero-img-layer[data-layer="2"]{
        z-index: 2;
        filter: 
        hue-rotate(240deg) 
        saturate(1.8) 
        brightness(0.8)
        blur(1px);
        mix-blend-mode: screen;
        opacity: 0;
        transition: all 300ms ease-in-out 50ms, ;
    }
    
    .hero-img-layer[data-layer="3"]{
        z-index: 1;
        filter: 
        hue-rotate(20deg) 
            saturate(2) 
            brightness(0.7)
            blur(1.5px);
        mix-blend-mode: screen;
        opacity: 0;
        transition: all 400ms ease-in-out ;
    }
    
    .main-img:hover ~ .hero-img-layer[data-layer="1"]{
        opacity: 0.7;
        transform: translate(15px, 15px);

    }
    
    .main-img:hover ~ .hero-img-layer[data-layer="2"]{
        opacity: 0.6;
        transform: translate(30px, 30px);
    }
    
    .main-img:hover ~ .hero-img-layer[data-layer="3"]{
        opacity: 0.5;
        transform: translate(45px, 45px);

    }
}
.cta-container{
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        /* border-radius: 4px; */
        border: 0;
        transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        svg{
            fill: var(--color-dark);
            width: 1.4rem;
            margin-top: 4px;
        }
    }
    button:hover{
        box-shadow: 
            5px 5px var(--color-dark-red),
            -5px -5px var(--color-dark-blue);
    }
}