@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --color-dark-dark: #090D2E;
    --color-light-dark: #22234B;

    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-gray-1: #A0AEC0;
    --color-gray-2: #C4C4C4;
    --color-gray-3: #CBD5E0;
    --color-gray-4: #2D3748;
    --color-gray-5: #718096;
    --color-gray-6: #757A8C;

    --color-purple-1: #470137;
    --color-purple-2: #4318FF;
    --color-purple-3: #7551FF;
    --color-purple-4: #582CFF;
    --color-magenta: #FF61F6;

    --color-blue-1: #4299E1;
    --color-blue-2: #0075FF;
    --color-blue-3: #2684FF;
    --color-blue-4: #0052CC;
    --color-blue-5: #36C5F0;
    --color-cyan-1: #2CD9FF;
    --color-cyan-2: #4FD1C5;

    --color-orange: #F6AD55;
    --color-yellow: #ECB22E;

    --color-red-1: #E31A1A;
    --color-red-2: #DC395F;
    --color-pink: #E01E5A;

    --color-green-1: #01B574;
    --color-green-2: #2EBD59;
    --color-green-3: #2EB67D;
    --color-green-4: #05CD99;

    --gradient-1: linear-gradient(180deg, #060B26 0%, #0F123B 50%, #090D2E 100%);
    --gradient-2: linear-gradient(180deg, #060B28 0%, #0A0E23 100%);
    --gradient-3: linear-gradient(180deg, #0052CC 0%, #2684FF 100%);
    --gradient-4: linear-gradient(180deg, #2CD9FF 0%, #2CD9FF 100%);
    --gradient-5: linear-gradient(180deg, #0075FF 0%, #0075FF 100%);
    --gradient-6: linear-gradient(180deg, #060C29 0%, #040C30 100%);
    --gradient-7: linear-gradient(180deg, #060B28 0%, #0E153A 100%);
    --gradient-8: linear-gradient(180deg, #05CD99 0%, #05CD99 100%);
    --gradient-9: linear-gradient(180deg, #060B26 0%, #1A1F37 100%);
    --gradient-10: linear-gradient(180deg, #060B26 0%, #0E0D39 50%, #1A1F37 100%);
    --gradient-11: linear-gradient(180deg, #FFFFFF 0%, #757A8C 100%);
}